:root{
    --main-color:#28bffe;
    --yellow-color:#f2ab41;
    --secation-color:#18191b;
    --card-color:#1d1f22;
}
*{
    box-sizing: border-box;
}
/* start combainen  */
body{
    background-color: #000000 !important;
}
.bg-s{
    background-color: var(--secation-color);
}

.main-btn{
 background-color: var(--yellow-color) !important;
}
.main-btn:hover{
    color: white !important;
}
/* end combainen  */
.navbar-brand {
    color: white !important;
} 
.navbar-brand span{
    color: var(--main-color);
} 

.navbar-nav .nav-item .nav-link{
    color: white ;
}
.navbar-nav .nav-item .nav-link:is(.active,:hover,:focus){
    background-color: var(--main-color);
    border-radius: 6px;
}
.navbar-toggler{
    background-color: white !important;
}
.search,
.login {
    color: white;
    cursor: pointer;
}
.login {
    background-color: var(--main-color) !important;
}
.login:hover {
    background-color: #2fa7d9 !important;
}
/* start landing-page */
.landing-page{
    height: calc(100vb - 74px);
    position: relative;
    overflow: hidden;
}
.landing-page .img{
    margin-top: 6rem;
}
.landing-page .content h2{
    letter-spacing: 6px;
}
.landing-page .icon{
    border: 1px solid var(--yellow-color);
}
.landing-page .icon svg{
    color: var(--yellow-color) !important;
}
.landing-page .read-more{
    top: 90%;
}

.landing-page .read-more {
    position: relative;
}

.landing-page .read-more::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #b47c28;
    border-radius: 50%;
    top: -20px;
}
.landing-page .read-more::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color:#7d5419;
    border-radius: 50%;
    top: -40px;
}
/* end landing-page */

/* start services */
.services{
    background-color: var(--secation-color);
}
.services .main-head h2 span{
    position: relative;
}
.services .main-head h2 span::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.services .main-head p{
    max-width: 905px;
}
.services .box .btn:hover{
    color: var(--yellow-color) !important;
}
/* end services */

/* start who-are  */
 .caption{
    color: var(--main-color);
}
.who-are .box .prins{
    color: var(--yellow-color);
}
.who-are .box ul li::marker{
    color: var(--yellow-color);
    font-size: 25px;
}
.who-are .box .choose {
    background-color: var(--main-color) !important;
}
/* end who-are  */

/* start offer  */
.offer{
    background-color: var(--secation-color);
}
 .number{
    color: var(--main-color);
    font-size: 4rem;
}
.offer .box:nth-child(2) ul li::marker{
    color: var(--yellow-color);
}
.offer .box ul li::marker{
font-size: 25px;
}
.offer .box:has(ul){
    background-color: #1d1f22 !important;
}

/* end offer  */
/* start details  */
.details  {
    position: relative;
    top: -100px;
}
.details .box h2 {
    color: var(--main-color);
}
/* end details  */

/* start Features */
.Features .box  {
    background-color: #1d1f22 !important;
    padding: 10px 20px !important;
}
/* end Features */

/* start gallery */
.gallery .card  {
    background-color: var(--card-color) !important;

}
/* end gallery */
 /* start blog */
.blog .card,
.blog  .card .btn{
background-color: var(--secation-color) !important;
}
 /* end blog */
/* start footer  */
.footer ul svg{
    color: var(--yellow-color);
}
.footer .icon .active {
color: var(--main-color);
}
.footer .icon svg:hover {
    cursor: pointer;
color: var(--main-color);
}
.footer .data{
    font-size: 12px !important;
}
 /* end footer */
 /* start copyRight  */
 .copy{
    background-color: var(--secation-color);
 }
 /* end copyRight  */
