:root{
    --main-color:#28bffe;
    --yellow-color:#f2ab41;
    --secation-color:#18191b;
    --card-color:#1d1f22;
}
*{
    box-sizing: border-box;
}
/* start combainen  */
body{
    background-color: #000000 !important;
}
.m-color{
    color: var(--main-color);
}
.y-color{
    color: var(--yellow-color) !important;
}
.b-card-color{
    background-color: var(--card-color) !important;
}
.bg-c-s{
    background-color: var(--secation-color) !important;
}
.caption{
    color: var(--main-color);
}
.main-btn{
 background-color: var(--yellow-color) !important;
}
.main-btn:hover{
    color: white !important;
}
/* end combainen  */
/* start nav  */
.navbar-nav .nav-item .nav-link:is(.active,:hover,:focus){
    background-color: var(--main-color);
    border-radius: 6px;
}
.login {
    background-color: var(--main-color) !important;
}
.login:hover {
    background-color: #2fa7d9 !important;
}
/* end nav  */
/* start landing-page */
.landing-page{
    height: calc(100vb - 74px);
}
.landing-page .img{
    margin-top: 6rem;
}
.landing-page .content h2{
    letter-spacing: 6px;
}
.landing-page .icon{
    border: 1px solid var(--yellow-color);
}
.landing-page .icon svg{
    color: var(--yellow-color) !important;
}
.landing-page .read-more{
    top: 90%;
}
.landing-page .read-more::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #b47c28;
    border-radius: 50%;
    top: -20px;
}
.landing-page .read-more::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color:#7d5419;
    border-radius: 50%;
    top: -40px;
}
/* end landing-page */
/* start services */
.services .main-head h2 span::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.services .main-head p{
    max-width: 905px;
}
.services .box .btn:hover{
    color: var(--yellow-color) !important;
}
/* end services */
/* start who-are  */
.who-are .box ul li::marker{
    color: var(--yellow-color);
    font-size: 25px;
}
.who-are .box .choose {
    background-color: var(--main-color) !important;
}
/* end who-are  */
/* start offer  */
 .number{
    color: var(--main-color);
    font-size: 4rem;
}
.offer .box:nth-child(2) ul li::marker{
    color: var(--yellow-color);
}
.offer .box ul li::marker{
font-size: 25px;
}
/* end offer  */
/* start details  */
.details{
    top: -100px;
}
/* end details  */
/* start footer  */
.footer .icon svg:hover {
    cursor: pointer;
color: var(--main-color);
}
.footer .data{
    font-size: 12px !important;
}
 /* end footer */